@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato:wght@900&display=swap');
:root {
  --bg-color: #F3F2DA;
  --text-color: #548858;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #06402B;
    --text-color: #F3F2DA;
  }
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
}

.content{
    width: 50%;
    margin: 20px auto;
    /* padding: 10%; */
}

* {
    box-sizing: border-box;
}

.publication{
    font-weight: bold;
}

.columns {
    width: 50%;
    padding: 12px;
    min-height: 100px;
}

.rows:after{
    content:"";
    display: table;
    clear: both;
}

.links {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5%;
    padding-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.introduciton {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
}

h1 {
    font-size: 26pt;
    font-family: 'Josefin Sans';
    /* font-weight: 800; */
    color: var(--text-color);
    text-align: center;
}

h3 {
    font-size: 20pt;
    font-family: 'Josefin Sans';
    /* font-weight: 800; */
    color: var(--text-color);
    text-align: center;
}
a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color:var(--text-color)
}
a:active, a:hover{
    text-decoration:underline;
}
.star {
    background: var(--bg-color);
    width: 80px;
    height:60px;
    position: relative;
    text-align: center;
    border: 1px solid #A5D0A5;
}
.star:before,
.star:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height:60px;
    background: #F3F2DA;
}
.star:before {
    transform: rotate(30deg);
}
.star:after {
    transform: rotate(60deg);
}


@media screen and (max-width: 600px) {
    body {
        padding: 0px;
        font-size: medium;
    }

    .content {
        width: 90%;
        margin: 10px auto;
    }

    .links{
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
}